name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.3'

    - name: Install libpcap-dev
      run: sudo apt update && sudo apt-get install -y libpcap-dev

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Format
      run: |
        gofmt -s -l -w .
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        
        if git diff-files --quiet; then
          echo 'No formatting changes'
        else
          echo 'Formatting changes applied:'
          git diff --raw
          git commit -a -m "Applied Formatting Changes During GitHub Build"
          git push origin
        fi
